.global-stats-container {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #05445e;
  color: white;
  position: relative;
}

.stats {
  justify-content: center;
  display: flex;
}

.main-stat {
  margin-bottom: 0px;
}

.divided-stats-section {
  margin: 0px 32px 0px 32px;
}

.good-news {
  color: aquamarine;
}

.bad-news {
  color: crimson;
}

.main-news {
  font-size: x-large;
}

.refresh-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.refresh-icon:hover {
  background-color: #189ab4;
}

.refresh-icon:active {
  background-color: #0e5c6b;
}
